<!DOCTYPE html>
<html layout:decorate="~{layout/default}">
<head>
    <title>블로그</title>
</head>
<div layout:fragment="content">
<section class="site-section pt-5">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6">
            <h2 class="mb-4">Category: BLOG</h2>
          </div>
        </div>
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row mb-5 mt-5">
              <div class="col-md-12">
              
				<!-- START post -->
                <div class="post-entry-horzontal" th:each="blog : ${blogList}">
                  <a th:href="@{/blog/{id} (id=${blog.id})}">
                    <div class="image element-animate" data-animate-effect="fadeIn" style="background-image: url(images/img_10.jpg);"></div>
                    <span class="text">
                      <div class="post-meta">
                        <span class="mr-2" th:text="${blog.getFormattedCreatedDate()}">March 15, 2018 </span> &bullet;
                        <span class="mr-2">blogging</span> &bullet;
                        <span class="ml-2 fa fa-eye"><span class="ml-1" th:text="${blog.countOfViews}"></span></span>
                        <span class="ml-2 fa fa-comments"><span class="ml-1" th:text="${blog.countOfComment}"></span></span>
                        <span class="ml-2 fa fa-thumbs-o-up"><span class="ml-1" th:text="${blog.countOfThumbsUp}"></span></span>
                      </div>
	                      <h2 th:text="${blog.title}"></h2>
                    </span>
                  </a>
                </div>
                <!-- END post -->
                
              </div>
            </div>

            <!-- <div class="row mt-5">
              <div class="col-md-12 text-center">
                <nav aria-label="Page navigation" class="text-center">
                  <ul class="pagination">
                    <li class="page-item  active"><a class="page-link" href="#">&lt;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                  </ul>
                </nav>
              </div>
            </div> -->

            

          </div>
          <!-- END main-content -->

          <!-- side bar include -->
        	<div th:replace="fragments/side-bar :: side-bar" ></div>
      	<!-- side bar include -->

        </div>
      </div>
    </section>
</div>
</html>