<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/custom/css/login.css}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first" th:if="${errorMessage}">
      <img th:src="@{/custom/icon/profile3.png}" id="icon" />
    </div>
    <div class="fadeIn first" th:unless="${errorMessage}">
      <img th:src="@{/custom/icon/profile2.png}" id="icon" />
    </div>

    <!-- Login Form -->
    <form th:action="@{/login}" method="post">
      <input type="hidden" name="referer" th:value="${referer}">
      <input type="text" id="loginId" class="fadeIn second" name="loginId" placeholder="login">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
		<div class="text-danger" th:text="${errorMessage}"></div>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>


    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="underlineHover" href="#">This page is for administrators only. </div>
    </div>

  </div>
</div>

</html>