<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
	<title>about me</title>
	<th:block layout:fragment="js">
	<!--  stackshare  -->
	<script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
	</th:block>
</head>



<div layout:fragment="content" class="container">
	<section class="site-section pt-5">
		<div class="row mb-4 mb-5 ">
			<div class="col-md-6">
				<h1>About Me</h1>
			</div>
		</div>
		
		<div class="row about-me">
			<div class="col-md-12 col-lg-8">
				<h5>profile</h5>
				<div class="row">
					<!-- img -->
					<div class="col-md-5">
						<p class="mb-5 text-center">
							<img th:src="@{/custom/images/about-me3.jpg}"
								alt="Image placeholder" class="img-fluid rounded-circle shadow-lg mb-5 bg-white rounded">
						</p>
					</div>
					<!--  img -->
					
					<!-- profile -->
					<div class ="col-md-7 mb-5">
						<ul class="list-group ">
						  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-info">
							   <i class="fa fa-user" aria-hidden="true"></i> 
							    장민규
						  </li>
						  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
							    <i class="fa fa-heart-o" aria-hidden="true"></i>
							    Back-End developer
						  </li>
						  <a th:href="@{/contact}">
							  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
								    <i class="fa fa-envelope-o" aria-hidden="true"></i>
								    puregyu@naver.com
							  </li>
						  </a>
						  <a href="https://github.com/puregyu" target="_blank">
							  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
								  <i class="fa fa-github" aria-hidden="true"></i>
								    Github
							  </li>
						  </a>
						  <a href="https://pugyu.tistory.com/" target="_blank">
							  <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">
								  <i class="fa fa-book" aria-hidden="true"></i>
								    Tstory
							  </li>
						  </a>
						</ul>
					</div>
					<!-- profile -->
				</div>	
					<!-- stackshare.io -->
					<h5>stack</h5>
					<div class="border border-light mb-5">
					<a frameborder="0" data-theme="light" data-layers="1,2,3,4" data-stack-embed="true" href="https://embed.stackshare.io/stacks/embed/3861dcc337f9f27c2e1ff9e210243e"/></a>
					</div>
					<!-- stackshare.io -->
			</div>
				
			<!-- side bar include -->
			<div th:replace="fragments/side-bar :: side-bar"></div>
			<!-- side bar include -->
		</div>
	</section>
</div>
</html>