<!doctype html>
<html 	lang="ko" xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- head start --> 
	<head th:replace="fragments/config :: configFragment">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">devyu's </title>
	</head>
	<!-- head end --> 
	
	<!-- body start -->
	
	<body>
		<div class="wrap">

			<!-- sessioned user writting button -->
          	<a th:if="${session.SESSIONED_ID != null}" th:href="@{/blog/create}">
          		<span class="fa fa-pencil-square fa-4x position-fixed fixed-bottom ml-4 mb-4 d-table text-warning"></span>
          	</a>
		
			<!-- header start --> 
			<header th:replace="fragments/header :: headerFragment"></header>
			<!-- header end -->

			
			<!-- content start -->
			<div layout:fragment="content"></div>
			<!-- content end -->
			
			<!-- footer start -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- footer end -->
		</div>
		
		<!-- loader -->
	    <div id="loader" class="show fullscreen">
	    	<svg class="circular" width="48px" height="48px">
	    		<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
	    		<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/>
	    	</svg>
	    </div>
		<!-- script start -->
		<div th:replace="fragments/script :: scriptFragment"></div>
	    <!-- script end -->
	    
	</body>
	
	<!-- body end -->
</html>