<!doctype html>
<html 	lang="ko" xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- head start --> 
	<head th:replace="fragments/head :: headFragment">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
	</head>
	<!-- head end --> 
	
	<!-- body start -->
	
	<body>
	
		<div class="wrap">

			<!-- sessioned user writting button -->
          	<a th:if="${session.SESSIONED_ID != null}" th:href="@{/blog/create}">
			<span class="fa fa-pencil-square fa-4x position-fixed fixed-bottom ml-4 mb-4 d-table text-warning"></span>
          	</a>
		
			<!-- header start --> 
			<header th:replace="fragments/header :: headerFragment"></header>
			<!-- header end -->

			
			<!-- content start -->
			<div layout:fragment="content"></div>
			<!-- content end -->
			
			<!-- footer start -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- footer end -->
		</div>
		
		<!-- loader start -->
		<div th:replace="fragments/loader :: loader"></div>
		<!-- loader end -->
		
		<!-- script start -->
		<div th:replace="fragments/script :: scriptFragment"></div>
	    <!-- script end -->
	    
	</body>
</html>