<!doctype html>
<html 	lang="ko" 
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<!-- head start --> 
	<head th:replace="fragments/head :: headFragment">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>
	</head>
	<!-- head end --> 
	
	<!-- body start -->
	<body>
		<!-- fix-bar start -->
		<th:block th:replace="fragments/fix-bar :: fixBarFragment"></th:block>
		<!-- fix-bar end-->
		 
		 <!-- fixed-bar -->
		<div class="wrap">
			<!-- header start --> 
			<header th:replace="fragments/header :: headerFragment"></header>
			<!-- header end -->
			
			<!-- content start -->
			<div layout:fragment="content"></div>
			<!-- content end -->
			
			<!-- footer start -->
			<footer th:replace="fragments/footer :: footerFragment"></footer>
			<!-- footer end -->
		</div>
		
		<!-- loader start -->
		<th:block th:replace="fragments/loader :: loader"></th:block>
		<!-- loader end -->
		
		<!-- script start -->
		<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	    <!-- script end -->
	    
	</body>
</html>