<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<!-- title start -->
<head>
	<title>devyu's Blog</title>
	<th:block layout:fragment="js">
	<script type="text/javascript" th:inline="javascript">
	if(/*[[ ${modal}]]*/ != null){
		/* <![CDATA[ */       
		$('#EmailModal').modal('show')
		/* ]]> */
	}
	</script>
</th:block>
</head>
<!-- title end -->

<!-- ===================== -->
<div class="home-section" layout:fragment="content">
	<section class="site-section py-sm">
		<video muted="muted" autoplay loop width="100%" height="100%">  
		   <source th:src="@{/custom/videos/codes.mp4}" type="video/mp4"> 
		</video>
	</section>
</div>
<!-- ===================== -->
</html>