<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="headerFragment" role="banner">
	
		<!-- top-bar -->
		<div class="top-bar">
	    	<div class="container">
	       		<div class="row">
	         		<div class="col-6 social">
	           			<a href="https://github.com/puregyu" target="_blank"><span class="fa fa-github fa-2x"></span></a>
	           			<a href="https://pugyu.tistory.com" target="_blank"><span class="fa fa-book fa-2x"></span></a>
	         		</div>
		         	<div th:if="${session.SESSIONED_ID == null}" class="col-6 social text-right">
		           		<a href="/login"><span class="fa fa-sign-in fa-2x"> In</span></a>
		         	</div>
		         	<div th:if="${session.SESSIONED_ID != null}" class="col-6 social text-right">
		           		<a href="/logout"><span class="fa fa-sign-out fa-2x"> Out</span></a>
		         	</div>
	       		</div>
	     	</div>
	   	</div>
	   	<!-- top-bar -->
	   	
		<div class="container logo-wrap ">
		  <div class="row pt-5">
		    <div class="col-12 text-center">
		      <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
		      <h1 class="site-logo"><a href="/">devyu's Blog</a></h1>
		    </div>
		  </div>
		</div>
   
	   <nav class="navbar navbar-expand-md  navbar-light bg-light">
	     <div class="container">
	       <div class="collapse navbar-collapse" id="navbarMenu">
	         <ul class="navbar-nav mx-auto">
	           <li class="nav-item">
	             <a class="nav-link" href="/" th:classappend="${active} == home ? active">Home</a>
	           </li>
	           <li class="nav-item">
	             <a class="nav-link" href="/aboutme" th:classappend="${active} == aboutMe ? active">About Me</a>
	           </li>
	           <li class="nav-item">
	             <a class="nav-link" href="/blog" th:classappend="${active} == blog ? active">Blog</a>
	           </li>
	           <li class="nav-item">
	             <a class="nav-link" href="/contact" th:classappend="${active} == contact ? active">Contact</a>
	           </li>
	         </ul>
	       </div>
	     </div>
	   </nav>
	   
	   <!-- sessioned user writting button -->
      	<a th:if="${session.SESSIONED_ID != null}" th:href="@{/blog/create}">
			<span class="fa fa-pencil-square fa-4x position-fixed fixed-bottom ml-4 mb-4 d-table text-warning"></span>
     	</a>
	</header>
</html>