<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="scriptFragment">
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	    <script th:src="@{/js/jquery-migrate-3.0.0.js}"></script>
	    <script th:src="@{/js/popper.min.js}"></script>
	    <script th:src="@{/js/bootstrap.min.js}"></script>
	    <script th:src="@{/js/owl.carousel.min.js}"></script>
	    <script th:src="@{/js/jquery.waypoints.min.js}"></script>
	    <script th:src="@{/js/jquery.stellar.min.js}"></script>
	    <script th:src="@{/js/main.js}"></script>
	</div>
</html>