<div		lang="ko" 
			xmlns:th="http://www.thymeleaf.org"
			class="col-md-12 col-lg-4 sidebar" th:fragment = "side-bar">

	<!-- search-form -->
	<div class="sidebar-box search-form-wrap">
	  <form method="post" th:action="@{/blog/search}" class="search-form">
	    <div class="form-group">
	      <span class="icon fa fa-search" style="cursor: pointer;"></span>
	      <input type="text" class="form-control" id="s" placeholder="keyword and hit"  th:name="keyword">
	    </div>
	  </form>
	</div>
	<!-- search-form -->
            
	<!-- my profile -->
	<!-- <div class="sidebar-box">
	  <div class="bio text-center">
	    <img src="images/person_2.jpg" alt="Image Placeholder" class="img-fluid">
	    <div class="bio-body">
	      <h2>Craig David</h2>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
	      <p><a href="#" class="btn btn-primary btn-sm rounded">Read my bio</a></p>
	      <p class="social">
	        <a href="#" class="p-2"><span class="fa fa-facebook"></span></a>
	        <a href="#" class="p-2"><span class="fa fa-twitter"></span></a>
	        <a href="#" class="p-2"><span class="fa fa-instagram"></span></a>
	        <a href="#" class="p-2"><span class="fa fa-youtube-play"></span></a>
	      </p>
	    </div>
	  </div>
	</div> -->
	<!-- my profile -->
            
	<!-- Popular Posts --> 
	<div class="sidebar-box">
	  <h3 class="heading">Popular Posts</h3>
	  <div class="post-entry-sidebar pop-sidebar" th:each="pop : ${popList}">
	    <ul th:with="contents = ${pop.contents}">
	      <li>
	        <a th:href="@{/blog/{id} (id=${pop.id})}">
	        
	        <th:block th:with="startMatchingIndex = ${#strings.indexOf(contents, 'src=')} + 5,
         								  frontCutting = ${#strings.substring(contents, startMatchingIndex)},
         								  endMatchingIndex = ${#strings.indexOf(frontCutting, '&quot')},
         								  endCutting = ${#strings.substring(frontCutting, 0, endMatchingIndex)}"
         					th:if="${#strings.contains(contents, 'src=')}">
          		<img	th:src="${endCutting}" class="mr-4" />
         	</th:block>	
         	
         	<th:block th:unless="${#strings.contains(contents, 'src=')}">
         	</th:block>
                    	
	          <div class="text">
	            <h4 th:text="${pop.title}">There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
	            <div class="post-meta">
	              <span class="mr-2" th:text="${pop.getFormattedCreatedDate()}">March 15, 2018 </span>
	            </div>
	          </div>
	        </a>
	      </li>
	    </ul>
	  </div>
	</div>
	<!-- Popular Posts -->

	<!-- category side-bar -->
	<!-- <div class="sidebar-box">
	  <h3 class="heading">Categories</h3>
	  <ul class="categories">
	    <li><a href="#">Food <span>(12)</span></a></li>
	    <li><a href="#">Travel <span>(22)</span></a></li>
	    <li><a href="#">Lifestyle <span>(37)</span></a></li>
	    <li><a href="#">Business <span>(42)</span></a></li>
	    <li><a href="#">Adventure <span>(14)</span></a></li>
	  </ul>
	</div> -->
	<!-- category side-bar -->

	<!-- tag side-bar -->
	<div class="sidebar-box">
	  <h3 class="heading">Tags</h3>
	  <ul class="tags" th:each="tag : ${tagList}">
	    <li class="mb-1"><a th:href="@{/blog/tag?tagname={tagname} (tagname=${tag})}" th:text="${tag}"></a></li>
	  </ul>
	</div>
	<!-- tag side-bar -->
</div>
          
<!-- search side-bar -->
<!-- <div class="col-md-12 col-lg-4 sidebar">
    <div class="sidebar-box search-form-wrap">
      <form action="#" class="search-form">
        <div class="form-group">
          <span class="icon fa fa-search"></span>
          <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
        </div>
      </form>
    </div>
</div> -->

<!-- END sidebar -->